<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mvnAndJenkinSession25.mvnAndJenkin.SampleTest"/>
      <class name="mvnAndJenkinSession25.mvnAndJenkin.OneTest"></class>
      <class name="mvnAndJenkinSession25.mvnAndJenkin.TwoTest"></class>
      <class name="mvnAndJenkinSession25.mvnAndJenkin.ThreeTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
